In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('advertisement.csv')

In [3]:
df

    unnamed:0     TV  Radio  Newspaper  Sales Data
0           1  230.1   37.8       66.4   22.1   No
1           2    NaN   22.9       33.4    NaN  Yes
2           3    NaN   69.6       22.9    NaN   No
3           4    NaN   55.0       11.0   18.0  Yes
4           5   22.6   66.5        NaN   22.0  Yes
5           6   22.6   55.9        NaN   12.3  Yes
6           7   22.6    NaN       12.0   21.3  Yes
7           8   33.2    NaN       42.3   13.0   No
8           9   34.5    NaN       55.6   11.0  NaN
9          10   75.5    NaN       56.6   10.0  NaN
10         11   36.5   99.6       87.6   22.0  NaN

In [4]:
df.loc[0]

unnamed:0        1
TV           230.1
Radio         37.8
Newspaper     66.4
Sales         22.1
Data            No
Name: 0, dtype: object

In [5]:
df.loc[10]

unnamed:0      11
TV           36.5
Radio        99.6
Newspaper    87.6
Sales          22
Data          NaN
Name: 10, dtype: object

In [6]:
df.loc[[0,3,5,8]]

   unnamed:0     TV  Radio  Newspaper  Sales Data
0          1  230.1   37.8       66.4   22.1   No
3          4    NaN   55.0       11.0   18.0  Yes
5          6   22.6   55.9        NaN   12.3  Yes
8          9   34.5    NaN       55.6   11.0  NaN

In [7]:
df.loc[3,'TV']

nan

In [8]:
df.loc[0:4]

   unnamed:0     TV  Radio  Newspaper  Sales Data
0          1  230.1   37.8       66.4   22.1   No
1          2    NaN   22.9       33.4    NaN  Yes
2          3    NaN   69.6       22.9    NaN   No
3          4    NaN   55.0       11.0   18.0  Yes
4          5   22.6   66.5        NaN   22.0  Yes

In [9]:
df.loc[0:3,'TV']

0    230.1
1      NaN
2      NaN
3      NaN
Name: TV, dtype: float64

In [10]:
df.loc[[False,False,True]]

IndexError: Boolean index has wrong length: 3 instead of 11

In [11]:
df.loc[df['TV']<50]

    unnamed:0    TV  Radio  Newspaper  Sales Data
4           5  22.6   66.5        NaN   22.0  Yes
5           6  22.6   55.9        NaN   12.3  Yes
6           7  22.6    NaN       12.0   21.3  Yes
7           8  33.2    NaN       42.3   13.0   No
8           9  34.5    NaN       55.6   11.0  NaN
10         11  36.5   99.6       87.6   22.0  NaN

In [12]:
df.loc[df['TV']<50,['Radio']]

    Radio
4    66.5
5    55.9
6     NaN
7     NaN
8     NaN
10   99.6

In [13]:
df.iloc[0]

unnamed:0        1
TV           230.1
Radio         37.8
Newspaper     66.4
Sales         22.1
Data            No
Name: 0, dtype: object

In [14]:
df.iloc[:,0]

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
Name: unnamed:0, dtype: int64

In [15]:
df.iloc[[0,1]]

   unnamed:0     TV  Radio  Newspaper  Sales Data
0          1  230.1   37.8       66.4   22.1   No
1          2    NaN   22.9       33.4    NaN  Yes

In [16]:
df.iloc[[True,False,False]]

IndexError: Boolean index has wrong length: 3 instead of 11