#### How to create pandas dataframe?

In [1]:
import pandas as pd

In [2]:
# empty dataframe
em_df=pd.DataFrame()
print(em_df)

Empty DataFrame
Columns: []
Index: []

In [3]:
lst=['a','b','c']
print(lst)

['a', 'b', 'c']

In [5]:
df1=pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [6]:
df1

   0
0  a
1  b
2  c

In [7]:
# to get more than one column
ls_of_ls=[[1,2,3],[2,3,4],[4,5,6]]
ls_of_ls

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [8]:
df2=pd.DataFrame(ls_of_ls)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [11]:
# create dataframe from dict
dict1={'a':[1,2,3,4]}
dict1

{'a': [1, 2, 3, 4]}

In [12]:
df3=pd.DataFrame(dict1)
df3

   a
0  1
1  2
2  3
3  4

In [14]:
dict2={'a':[1,2,3,4],'b':[5,6,7,8]}
dict2

{'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8]}

In [18]:
df4=pd.DataFrame(dict2)
df4

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [16]:
ls_dict=[{'a':1,'b':2,'c':3}]
ls_dict

[{'a': 1, 'b': 2, 'c': 3}]

In [20]:
df5=pd.DataFrame(ls_dict)
df5

   a  b  c
0  1  2  3

In [21]:
ls_dict1=[{'a':1,'b':2,'c':3},{'d':4,'e':5,'f':6}]
ls_dict1

[{'a': 1, 'b': 2, 'c': 3}, {'d': 4, 'e': 5, 'f': 6}]

In [22]:
df6=pd.DataFrame(ls_dict1)
df6

     a    b    c    d    e    f
0  1.0  2.0  3.0  NaN  NaN  NaN
1  NaN  NaN  NaN  4.0  5.0  6.0

In [24]:
dict_sr={'ID':pd.Series([1,2,3]),'SN':pd.Series([111,222,333])}
df7=pd.DataFrame(dict_sr)
df7

   ID   SN
0   1  111
1   2  222
2   3  333