In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.0.3'

In [4]:
list_s=[1,2,-3,6.2,'Data Values']
print(list_s)

[1, 2, -3, 6.2, 'Data Values']

In [6]:
series1=pd.Series(list_s)
print(series1)

0              1
1              2
2             -3
3            6.2
4    Data Values
dtype: object

In [7]:
type(series1)

pandas.core.series.Series

In [8]:
series2=pd.Series([1,2,3,4])
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
empty_s=pd.Series([])
print(empty_s)

Series([], dtype: float64)

<ipython-input-9-61bfa6afa16b>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s=pd.Series([])

In [13]:
series3=pd.Series([1,2,3,4],index=['A','B','C','D'])
print(series3)

A    1
B    2
C    3
D    4
dtype: int64

In [14]:
series4=pd.Series([1,2,3,4],index=['A','B','C','D'],dtype=float)
print(series4)

A    1.0
B    2.0
C    3.0
D    4.0
dtype: float64

In [16]:
series5=pd.Series([1,2,3,4],index=['A','B','C','D'],dtype=float,name='data values')
print(series5)

A    1.0
B    2.0
C    3.0
D    4.0
Name: data values, dtype: float64

In [18]:
scalar_s=pd.Series(0.5)
print(scalar_s)

0    0.5
dtype: float64

In [19]:
scalar_s=pd.Series(0.5,index=[1,2,3])
print(scalar_s)

1    0.5
2    0.5
3    0.5
dtype: float64

In [20]:
dict_s=pd.Series({'a':1,'b':2,'c':3,'d':4})
print(dict_s)

a    1
b    2
c    3
d    4
dtype: int64

In [21]:
s4=pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
s4[0]

1

In [23]:
s4[3]

4

In [24]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [25]:
max(s4)

5

In [26]:
min(s4)

1

In [27]:
s4[s4>3]

3    4
4    5
dtype: int64

In [28]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [29]:
s5=pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [31]:
s4+s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [32]:
s6=pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

In [33]:
s5+s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64